.btn-default {
  border: none !important;
  color: #224554 !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem !important;
  border-radius: 3px !important;
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.16);
  margin-top: 4rem !important;
  margin-left: 3rem;
  padding: 2rem 3.5rem !important;
  display: inline-block;
  
}

ul {
  list-style-type:none !important;
}
.cercle{
  position: relative;
  top: 5.8rem;
  left: 1rem;
  padding: 10px !important;
  border-radius: 100px;
  width: 0px !important;
}

#color1 {
    background-color: #EE5350;
}

#color2 {
  background-color: #FDD735;
}

#color3 {
  background-color: #4DB6AC;
}

#color4 {
  background-color: #224554;
}

#color5 {
  background-color: #FDD735;
}

.checklist p{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: #95989A !important;
  margin: 0px;
}
#btn-checklist {
  display: inline-block;
  background-color: #fff;
  padding: 2rem 4rem !important;
  border: 1px solid #95989A;
  border-radius: 3px !important;
}

.checklist-right{
  position: relative;
}

.checklist-right:after{
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  background: #95989A;
  top: 0;
  left: 17px;
  z-index: -1;
}

.radio label {
  padding: 0!important;
  background: #3498db;
  height: 50px;
  padding: 10px !important;
  width: 200px;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.checked {
  padding: 0!important;
  background: #000000 !important;
  height: 50px;
  padding: 10px !important;
  width: 200px;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.radio label:hover {

  padding: 10px !important;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.radio label input {
  display:none;
}





.submit {
  padding: 0!important;
  background: #3498db;
  height: 50px;
  padding: 10px !important;
  width: 200px;
  position: relative;
  left:50%;
  -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
  bottom: 300px;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.submit:hover {

  padding: 10px !important;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}