footer {
  background-color: #239E86;
  display: block;
  margin-top: 8rem;
  p{
    float: left;
    color: white;
    font-size: 2rem;
    margin-left: 3rem;
    font-weight: 200;
    margin-top: 3rem;
  }
  
}
#share a{
  float: right;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  letter-spacing: 1.3rem;
  margin-right: 3rem;
  
  &:hover{
    color: #f8f8f8;
  }
}

footer { bottom: 0;}