//.navbar-brand {
//  padding: 0px;
//  margin: 1rem;
//  padding-left: 2rem;
//}
//
.navbar{
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.16); 
    background-color: white !important;
    
}

#btn-full a{
  background-color: #239E86;
  border-radius: 10px;
  color: #fff;
  width: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
 &:hover{
    background-color: #43b9a2;
}
}

.notice p {
  padding-top: 1.8rem;
  color: green;
}

.navbar-header {
   margin-top: 0.6rem;
    padding-left: 2rem;
}

.bar-prog {
  padding-top: 3px !important;
  width: 20rem;
  height: 10px;
}

.progress {
  position: relative;
  top: 100%;
  height: 17px !important;
}

ul.nav.navbar-nav.navbar-right{
  padding-right: 2rem;
}

html, body {
  overflow-x: hidden;
}