<p>Bonjour <%= @resource.email %>!</p>

<p>Une demande de changement de mot de passe a été faite pour ce compte. Cliquez sur le lien ci-dessous pour changer de mot de passe.</p>

<p><%= link_to 'Changer de mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas l'auteur de cette demande, ignorez cet email.</p>

